<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h1> Success!  Your email has been confirmed. </h1>
                <%= link_to "Log in", new_session_path(resource_name) %><br />
            </div>
        </div>
    </div>
</section>